<div class="row">
    <h1>Kategori</h1>
    <form action="/next" method="post">
        <input type="hidden" name="stepName" value="artform">
        <fieldset class="fieldset">
            <legend>Hvilken kategori faller tiltaket/arrangementet under?</legend>
            <input type="radio" name="artform" value="Idrett" id="artformRadio07" required {{radio-is-checked 'Idrett' data.artform}}><label for="artformRadio07">Idrett</label><br/>
            <input type="radio" name="artform" value="Billedkunst" id="artformRadio01" {{radio-is-checked 'Billedkunst' data.artform}}><label for="artformRadio01">Billedkunst</label><br/>
            <input type="radio" name="artform" value="Litteratur" id="artformRadio02" {{radio-is-checked 'Litteratur' data.artform}}><label for="artformRadio02">Litteratur</label><br/>
            <input type="radio" name="artform" value="Film" id="artformRadio03" {{radio-is-checked 'Film' data.artform}}><label for="artformRadio03">Film</label><br/>
            <input type="radio" name="artform" value="Scenekunst" id="artformRadio04" {{radio-is-checked 'Scenekunst' data.artform}}><label for="artformRadio04">Scenekunst</label><br/>
            <input type="radio" name="artform" value="Musikk" id="artformRadio05" {{radio-is-checked 'Musikk' data.artform}}><label for="artformRadio05">Musikk</label><br/>
            <input type="radio" name="artform" value="Kulturarv" id="artformRadio06" {{radio-is-checked 'Kulturarv' data.artform}}><label for="artformRadio06">Kulturarv</label>
        </fieldset>
        {{{show-breadcrumbs crumbs}}}
        {{>bottom-buttons}}
    </form>
</div>