<div class="row">
    <h1>Samarbeid</h1>
    <form action="/next" method="post">
        <input type="hidden" name="stepName" value="collaboration">
        <fieldset class="fieldset">
            <legend>Er dette i samarbeid med andre?</legend>
            <input type="radio" name="samarbeid" value="ja" id="collaborationRadio01" required><label for="collaborationRadio01">Ja</label>
            <input type="radio" name="samarbeid" value="nei" id="collaborationRadio02"><label for="collaborationRadio02">Nei</label>
        </fieldset>
        <div class="expanded button-group">
            <a href="/previous" title="Gå til forrige punkt i søknaden" class="secondary button">Forrige</a>
            <a href="/cleanup" title="Avbryt søknaden" class="alert button">Avbryt søknaden</a>
            <button type="submit" title="Gå til neste punkt i søknaden" class="primary button">Neste</button>
        </div>
    </form>
</div>