<div class="row">
    <h1>Økonomi</h1>
    <form action="/next" method="post">
        <input type="hidden" name="stepName" value="finanser">
        Forenklet budsjettoversikt. Fyll inn tall i hele kroner.
        <fieldset class="fieldset">
            <legend>Finansiering</legend>
            <label>Søkebeløp
                <input type="number" id="soknadssum" name="soknadsSum" required>
            </label>
            <label>Total kostnadsramme
                <input type="number" id="totalramme" name="totalRamme" required>
            </label>
            <label>Egne midler
                <input type="number" id="egnemidler" name="egneMidler" required>
            </label>
            <label>Andre midler (søkt om eller innvilget)
                <input type="number" id="andremidler" name="andreMidler" required>
            </label>
        </fieldset>
        <div class="expanded button-group">
            <a href="/previous" title="Gå til forrige punkt i søknaden" class="secondary button">Forrige</a>
            <a href="/cleanup" title="Avbryt søknaden" class="alert button">Avbryt søknaden</a>
            <button type="submit" title="Gå til neste punkt i søknaden" class="primary button">Neste</button>
        </div>
    </form>
</div>