<div class="row">
    <h1>Økonomi</h1>
    <form action="/next" method="post">
        <input type="hidden" name="stepName" value="finanser">
        <fieldset class="fieldset">
            <legend>Finansiering</legend>
            <label>Totalramme
                <input type="text" id="totalramme" name="totalRamme">
            </label>
            <label>Egne midler
                <input type="text" id="egnemidler" name="egneMidler">
            </label>
            <label>Andre midler søkt om
                <input type="text" id="andremidler" name="andreMidler">
            </label>
        </fieldset>
        <div class="callout clearfix">
            <a href="/previous" title="Gå til forrige punkt i søknaden" class="button secondary float-left">Forrige</a>
            <a href="/cleanup" title="Avbryt søknaden" class="button warning float-center">Avbryt søknaden</a>
            <button type="submit" title="Gå til neste punkt i søknaden" class="button primary float-right">Neste</button>
        </div>
    </form>
</div>