<div class="row">
    <h1>Tilskuddsordning</h1>
    <form action="/next" method="post">
        <input type="hidden" name="stepName" value="formal">
        <fieldset class="fieldset">
            <legend>Hvilken tilskuddsordning søker du på?</legend>
            <div>Er du usikker så les på <a href="/tilskuddsordningene">om tilskuddsordningene</a></div>
            <input type="radio" name="formal" value="Tilskudd til arrangementer og tiltak innen kultur og idrett" id="formalRadio01" required {{radio-is-checked 'Tilskudd til arrangementer og tiltak innen kultur og idrett' data.formal}}><label for="formalRadio01">Tilskudd til arrangementer og tiltak innen kultur og idrett</label><br/>
            <input type="radio" name="formal" value="Tilskudd til frivillige organisasjoner til folkehelsearbeid" id="formalRadio02" {{radio-is-checked 'Tilskudd til frivillige organisasjoner til folkehelsearbeid' data.formal}}><label for="formalRadio02">Tilskudd til frivillige organisasjoner til folkehelsearbeid</label><br/>
        </fieldset>
        {{{show-breadcrumbs crumbs}}}
        {{>bottom-buttons}}
    </form>
</div>