<div class="row">
    <h1>Formål</h1>
    <form action="/next" method="post">
        <input type="hidden" name="stepName" value="goal">
        <fieldset class="fieldset">
            <legend>Hva er formålet med tiltaket?</legend>
            <input type="checkbox" name="goal" value="Bedre psykisk helse" id="goalCheck01"><label for="goalCheck01">Bedre psykisk helse</label><br/>
            <input type="checkbox" name="goal" value="Økt fysisk aktivitet" id="goalCheck02"><label for="goalCheck02">Økt fysisk aktivitet</label><br/>
            <input type="checkbox" name="goal" value="Sosiale møteplasser" id="goalCheck03"><label for="goalCheck03">Sosiale møteplasser</label><br/>
            <input type="checkbox" name="goal" value="Forebyggende og helsefremmende opplysningsarbeid" id="goalCheck04"><label
                for="goalCheck04">Forebyggende og helsefremmende opplysningsarbeid</label>
        </fieldset>
        <div class="expanded button-group">
            <a href="/previous" title="Gå til forrige punkt i søknaden" class="secondary button">Forrige</a>
            <a href="/cleanup" title="Avbryt søknaden" class="alert button">Avbryt søknaden</a>
            <button type="submit" title="Gå til neste punkt i søknaden" class="primary button">Neste</button>
        </div>
    </form>
</div>