<div class="mdl-grid">
    <div class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-shadow--2dp">
        <div class="mdl-card__title mdl-color-text--black">
            <h1 class="margin-bottom-10">Tilskudd</h1>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--black">
            Dette er forsiden for tilskuddsordninger i Telemark fylkeskommune.
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="/next" title="Start søknad" class="mdl-button mdl-js-button mdl-color-text--black fontBiggerButton">Start søknad</a>
        </div>
    </div>
</div>