<div class="row">
    <h1>"TILSKUDD TIL FOLKEHELSETILTAK" OG "TILSKUDD TIL ARRANGEMENTER OG TILTAK INNEN KULTUR OG IDRETT"</h1>
    <div>
        <p>Velkommen til å søke tilskudd fra våre støtteordninger!</p>
        <p>Telemark fylkeskommune har opprettet to tilskuddsordninger som skal bidra til å støtte aktiviteter og arrangementer innen kultur og idrett, og innen folkehelse.</p>
        <p>Telemark fylkeskommune ønsker å bidra til styrking og sikring av frivillig innsats, og det viktige engasjementet fra både frivillige og profesjonelle innen kultur og idrett. Mer detaljert informasjon om tilskuddsordningene finner du under fanen <a
                href="/tilskuddsordningene">"Om tilskuddsordningene"</a></p>
    </div>
    <h2>Gode råd før du søker</h2>
    <div>
        <ul>
            <li>En god forberedelse er viktig- mellomlagring av søknaden er ikke mulig</li>
            <li>Det er lurt å lese informasjonen om tilskuddsordningene før du begynner å fylle inn skjemaet. Der finner du kriteriene for å søke støtte.</li>
            <li>Beskrivelse av tiltaket gir plass til kun 1000 tegn m/ mellomrom, tenkt derfor igjennom hvordan du vil formulere deg før du starter</li>
            <li>Du logger inn via <a href="http://eid.difi.no/nb/id-porten" target="_blank">ID-porten</a> så ha det du trenger for hånden</li>
        </ul>
    </div>
    <div>
        Dette trenger du å ha klart på forhånd
        <ul>
            <li>Organisasjonsnummer</li>
            <li>Organisasjonens kontonummer</li>
            <li>Enkelt budsjett - Søkebeløp, oversikt over utgifter, søker dere støtte fra andre</li>
            <li>Navn på samarbeidsparter</li>
            <li>God informasjon om tiltaket (dato/ tidsrom, sted, målgruppe(-r))</li>
        </ul>
    </div>
    <div class="clearfix">
        <a href="/organisasjonsnummer?startbutton=front" title="Start søknad" class="button primary expanded">Start søknad</a>
    </div>
</div>