<div class="row">
    <h1>Velkommen til å søke tilskudd fra våre støtteordninger!</h1>
    <div>
        <p>Telemark fylkeskommune har opprettet to tilskuddsordninger som skal bidra til å støtte aktiviteter og arrangementer innen kultur og idrett, og innen folkehelse.</p>
        <p>Mer detaljert informasjon om tilskuddsordningene finner du under <a href="/tilskuddsordningene" title="Les mer om tilskuddsordningene">om tilskuddsordningene</a></p>
    </div>
    <h2>Gode råd før du søker:</h2>
    <div>
        <ul>
            <li>Det er lurt å lese informasjonen <a href="/tilskuddsordningene">om tilskuddsordningene</a> før du begynner å fylle inn skjemaet.</li>
            <li>Skriv søknadsteksten før du starter utfylling av skjema, siden mellomlagring av søknaden ikke er mulig</li>
            <li>Beskrivelse av tiltaket gir plass til kun 1000 tegn med mellomrom </li>
            <li>Du søker ved bruk av <a href="http://eid.difi.no/nb/id-porten" target="_blank">ID-porten</a></li>
        </ul>
    </div>
    <div>
        <p>Dette bør du ha klart før du starter utfylling av søknad</p>
        <ul>
            <li>Organisasjonsnummer</li>
            <li>Organisasjonens kontonummer</li>
            <li>Enkelt budsjett - søkebeløp, oversikt over utgifter, søker dere støtte fra andre</li>
            <li>Navn på samarbeidsparter</li>
            <li>Informasjon om tiltaket; dato/ tidsrom, sted, målgruppe(-r)</li>
        </ul>
    </div>
    <div class="clearfix {{hide-me inProgress}}">
        <a href="/organisasjonsnummer?startbutton=front" title="Start søknad" class="button primary expanded"><h2>Start søknad</h2></a>
    </div>
    {{>continue-application}}
</div>