<div class="row">
    <h1>Beskrivelse</h1>
    <form action="/next" method="post">
        <input type="hidden" name="stepName" value="kategorier">
        <fieldset class="fieldset">
            <legend>Hva beskriver arrangementet/tiltaket best?</legend>
            {{#each categories}}
            <input type="checkbox" name="beskrivelse" value="{{description}}" id="kategorierCheck{{id}}"><label
                for="kategorierCheck{{id}}">{{description}}</label><br/>
            {{/each}}
        </fieldset>
        <div class="expanded button-group">
            <a href="/previous" title="Gå til forrige punkt i søknaden" class="secondary button">Forrige</a>
            <a href="/cleanup" title="Avbryt søknaden" class="alert button">Avbryt søknaden</a>
            <button type="submit" title="Gå til neste punkt i søknaden" class="primary button" id="nextButton">Neste</button>
        </div>
    </form>
</div>

<script src="public/js/checkbox-is-required.js"></script>