<div class="row">
    <h1>Kontaktinformasjon</h1>
    <h2>Tilskudd til frivillige organisasjoner til folkehelsearbeid</h2>
    <p>
        <strong>Folkehelse: </strong>rådgiver Heidi Hamadi<br/>
        E-post: <a href="mailto:heidi.hamadi@t-fk.no">heidi.hamadi@t-fk.no</a><br/>
        Telefon: <a href="tel:+4735917126">35 91 71 26</a>
    </p>
    <h2>Tilskudd til arrangementer og tiltak innen kultur og idrett</h2>
    <p>
        <strong>Musikk: </strong>musikkprodusent Frøydis Aslesen<br/>
        E-post: <a href="mailto:froydis.aslesen@t-fk.no">froydis.aslesen@t-fk.no</a><br/>
        Telefon: <a href="tel:+4735917276">35 91 72 76</a> / <a href="tel:+4798620594">98 62 05 94</a>
    </p>
    <p>
        <strong>Scenekunst: </strong>rådgiver Thorild Osdalen<br/>
        E-post: <a href="mailto:thorild.osdalen@t-fk.no">thorild.osdalen@t-fk.no</a><br/>
        Telefon: <a href="tel:+4735917418">35 91 74 18</a> / <a href="tel:+4799620972">99 62 09 72</a>
    </p>
    <p>
        <strong>Billedkunst, film, litteratur og kulturarv: </strong>rådgiver Line Ruud Ørslien<br/>
        E-post: <a href="mailto:line-ruud.orslien@t-fk.no">line-ruud.orslien@t-fk.no</a><br/>
        Telefon: <a href="tel:+4735917337">35 91 73 37</a> / <a href="tel:+4799525209">99 52 52 09</a>
    </p>
    <p>
        <strong>Idrett: </strong>idrettskonsulent Marte Aksnes<br/>
        E-post: <a href="mailto:marte.aksnes@t-fk.no">marte.aksnes@t-fk.no</a><br/>
        Telefon: <a href="tel:+4735917279">35 91 72 79</a> / <a href="tel:+4791525278">91 52 52 78</a>
    </p>
    <p>
        <strong>Idrett: </strong>idrettskonsulent Therese Surdal Lahus<br/>
        E-post: <a href="mailto:therese.surdal.lahus@t-fk.no">therese.surdal.lahus@t-fk.no</a><br/>
        Telefon: <a href="tel:+4735917432">35 91 74 32</a> / <a href="tel:+4799276530">99 27 65 30</a>
    </p>
    {{>continue-application}}
</div>