<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col"></div>
    <div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-shadow--2dp">
        <div class="mdl-card__title mdl-color-text--black">
            <h1 class="margin-bottom-10">Kontaktperson</h1>
        </div>
        <form action="/next" method="post">
            <input type="hidden" name="stepName" value="kontaktperson">
            <div class="mdl-card__supporting-text mdl-color-text--black">
                <div class="mdl-typography--headline">Informasjon om deg som søker</div>
                <div class="mdl-textfield mdl-js-textfield fullWidth">
                    <input class="mdl-textfield__input fullWidth" type="text" id="navn" name="navn">
                    <label class="mdl-textfield__label fullWidth" for="navn">Navn</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield fullWidth">
                    <input class="mdl-textfield__input fullWidth" type="text" id="telefonnummer" name="telefonNummer">
                    <label class="mdl-textfield__label fullWidth" for="telefonnummer">Telefonnummer</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield fullWidth">
                    <input class="mdl-textfield__input fullWidth" type="text" id="epost" name="epost">
                    <label class="mdl-textfield__label fullWidth" for="epost">E-post</label>
                </div>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="/previous" title="Gå til forrige punkt i søknaden" class="mdl-button mdl-js-button mdl-color-text--black fontBiggerButton">Forrige</a>
                <div class="mdl-layout-spacer"></div>
                <button type="submit" title="Gå til neste punkt i søknaden" class="mdl-button mdl-js-button mdl-color-text--black fontBiggerButton">Neste</button>
            </div>
        </form>
    </div>
    <div class="mdl-cell mdl-cell--3-col"></div>
</div>