<div class="row">
    <h1>Kontaktperson</h1>
    <form action="/next" method="post">
        <input type="hidden" name="stepName" value="kontaktperson">
        <fieldset class="fieldset">
            <legend>Informasjon om deg som kontaktperson</legend>
            <label>Navn
                <input type="text" id="navn" name="navn" value="{{data.navn}}" readonly>
            </label>
            <label>Telefonnummer
                <input type="tel" id="telefonnummer" name="telefonNummer" value="{{data.telefonNummer}}" required autofocus>
            </label>
            <label>E-post
                <input type="email" id="epost" name="epost" value="{{data.epost}}" required>
            </label>
        </fieldset>
        {{{show-breadcrumbs crumbs}}}
        {{>bottom-buttons}}
    </form>
</div>