<div class="row">
    <h1 class="margin-bottom-10">Organisasjonen</h1>
        <form action="/next" method="post">
        <input type="hidden" name="stepName" value="organisasjon">
        <fieldset class="fieldset">
            <legend>Informasjon om organisasjonen</legend>
            <label>Organisasjonsnummer
                <input type="number" id="organisasjonsnummer" name="organisasjonsNummer" value="{{data.organisasjonsNummer}}" required>
            </label>
            <label>Organisasjonens kontonummer
                <input type="number" id="kontonummer" name="kontoNummer" value="{{data.kontoNummer}}" required>
                <p class="help-text" id="kontonummerValid"></p>
            </label>
            <label>Hva heter organisasjonen?
                <input type="text" id="organisasjonsnavn" name="organisasjonsNavn" value="{{data.organisasjonsNavn}}" required>
            </label>
            <label>Organisasjonens adresse
                <input type="text" id="adresse" name="adresse" value="{{data.adresse}}" required>
            </label>
            <label>Telefonnummer
                <input type="tel" id="telefonnummer" name="telefonNummer" value="{{data.telefonNummer}}">
            </label>
            <label>E-post
                <input type="email" id="epost" name="epost" value="{{data.epost}}">
            </label>
        </fieldset>
        <div class="expanded button-group">
            <a href="/previous" title="Gå til forrige punkt i søknaden" class="secondary button">Forrige</a>
            <a href="/cleanup" title="Avbryt søknaden" class="alert button">Avbryt søknaden</a>
            <button type="submit" id="nextButton" title="Gå til neste punkt i søknaden" class="primary button">Neste</button>
        </div>
    </form>
</div>

<script src="public/js/account-number-validator.js"></script>