<div class="row">
    <h1>Organisasjonsnummer</h1>
    <form action="/init" method="post">
        <input type="hidden" name="stepName" value="init">
        <fieldset class="fieldset">
            <legend>Organisasjonsnummer for søkeren</legend>
            <label>Organisasjonsnummer
                <input type="text" id="orgnr" name="orgnr" value="" required>
            </label>
        </fieldset>
        <div class="expanded button-group">
            <button type="submit" title="Gå til neste punkt i søknaden" class="primary button expanded">Neste</button>
        </div>
    </form>
</div>