<div class="row">
    <h1>Samarbeidspartnere</h1>
    <form action="/next" method="post">
        <input type="hidden" name="stepName" value="partners">
        <fieldset class="fieldset">
            <legend>Hvem samarbeider dere med?</legend>
            <input type="checkbox" name="partner" value="offentlige aktører" id="partnersCheck01"><label
                for="partnersCheck01">Offentlige aktører</label><br />
            <input type="checkbox" name="partner" value="private aktører" id="partnersCheck02"><label for="partnersCheck02">Private aktører</label><br/>
            <input type="checkbox" name="target" value="frivillige aktører" id="partnersCheck03"><label for="partnersCheck03">Frivillige aktører</label>
        </fieldset>
        <div class="expanded button-group">
            <a href="/previous" title="Gå til forrige punkt i søknaden" class="secondary button">Forrige</a>
            <a href="/cleanup" title="Avbryt søknaden" class="alert button">Avbryt søknaden</a>
            <button type="submit" title="Gå til neste punkt i søknaden" class="primary button">Neste</button>
        </div>
    </form>
</div>