<div class="row">
    <h1>Personvernerklæringen</h1>

    Personvernerklæringen handler om hvordan Telemark fylkeskommune samler inn og bruker informasjon om besøkende på våre nettsteder.<br/>
    Erklæringen inneholder informasjon du har krav på når det samles inn opplysninger fra nettstedet vårt (personopplysningsloven § 19) og generell informasjon om hvordan vi behandler personopplysninger (personopplysningsloven § 18, 1.ledd).

    Difi, ved direktøren, er behandlingsansvarlig for virksomhetens behandling av personopplysninger. Det er frivillig for de som besøker nettsidene å oppgi personopplysninger i forbindelse med tjenester som å motta nyhetsbrev, benytte del- og tipstjenesten osv. Behandlingsgrunnlaget er samtykke fra den enkelte, med mindre annet er spesifisert.

    <h2>Webanalyse og informasjonskapsler (cookies)</h2>

    Som en viktig del av arbeidet med å lage et brukervennlig nettsted, ser vi på brukermønsteret til de som besøker nettstedet. For å analysere informasjonen, bruker vi analyseverktøyene Piwik og Google Analytics.

    Både Piwik og Google Analytics bruker informasjonskapsler/cookies (små tekstfiler som nettstedet lagrer på brukerens datamaskin), som registrerer brukernes IP-adresse, og som gir informasjon om den enkelte brukers bevegelser på nett. Eksempler på hva statistikken gir oss svar på er; hvor mange som besøker ulike sider, hvor lenge besøket varer, hvilke nettsteder brukerne kommer fra og hvilke nettlesere som benyttes. Ingen av informasjonskapslene gjør at vi kan knytte informasjon om din bruk av nettstedet til deg som enkeltperson.

    Informasjonen som samles inn av Piwik, lagres hos Difi, mens informasjonen fra Google Analytics lagres på Googles servere i USA. Mottatte opplysninger er underlagt Googles retningslinjer for personvern.

    En IP-adresse er definert som en personopplysning fordi den kan spores tilbake til en bestemt maskinvare og dermed til en enkeltperson. Difi bruker Google Analytics sin sporingskode som anonymiserer IP-adressen før informasjonen lagres og bearbeides av Google. Dermed kan ikke den lagrede IP-adressen brukes til å identifisere den enkelte brukeren.

    Søk

    Difi lagrer informasjon om hvilke søkeord brukerne benytter på våre nettsteder i Piwik og Google Analytics. Formålet med lagringen er å gjøre informasjonstilbudet vårt bedre. Bruksmønsteret for søk lagres i aggregert form. Det er bare søkeordet som lagres og de kan ikke kobles til andre opplysninger om brukerne, slik som til IP-adressene.

    Del/tips-tjenesten

    Funksjonen "Del med andre" kan brukes til å videresende lenker til nettstedet på e-post, eller til å dele innholdet på sosiale nettsamfunn. Opplysninger om tips logges ikke hos oss, men brukes kun der og da til å legge inn tipset hos nettsamfunnet. Vi kan imidlertid ikke garantere at nettsamfunnet ikke logger disse opplysningene. Alle slike tjenester bør derfor brukes med vett. Dersom du benytter e-post funksjonen, bruker vi bare de oppgitte e-postadressene til å sende meldingen videre uten noen form for lagring.

    Nyhetsbrev

    Det er mulig å abonnere på nyhetsbrev fra ulike fagområder og informasjon om Difis arrangementer for alle som ønsker å motta slik informasjon. For at vi skal sende e-post til riktig person, må vi registrere navn og e-postadresse. For å kunne invitere deg til aktuelle arrangementer registrerer vi også hvilken virksomhet du arbeider for. Disse opplysningene deles ikke med andre virksomheter, og slettes når vi får beskjed om at du ikke lenger ønsker å motta informasjon fra oss. Opplysningene slettes også om vi får tilbakemelding om at e-postadressen ikke lenger er aktiv.

    Kommentarer

    Der det er mulig for brukerne å komme med kommentarer på artikler eller blogger, blir man avkrevet navn og e-postadresse. Navn og e-postadresse kan bli publisert med kommentaren, men lagres ikke hos Difi.

    Kurssystem

    Når du melder deg på kurs og arrangementer ber vi deg registrere navn, organisasjon, adresse, e-post, jobbtelefon, stilling og fakturareferanse. Med unntak av navn og organisasjon, som vil bli publisert på deltakerlister, deles opplysninger ikke med andre.

    Pålogging med felles brukerhåndtering

    Noen tjenester krever at man logger inn via Difis felles brukerhåndtering. I disse vil det være mulig å registrere navn, e-post, telefon, organisasjon og hjemmeside. Opplysningene deles ikke med andre.

    Side- og tjenestefunksjonalitet

    Det blir brukt informasjonskapsler i drift og presentasjon av data fra nettsteder. Slike informasjonskapsler kan inneholde informasjon om språkkode for språk valgt av brukeren. Det kan være informasjonskapsler med informasjon som støtter om lastbalanseringen av systemet slik at alle brukere blir sikret en best mulig opplevelse. Ved tjenester som krever innlogging eller søk kan det bli brukt informasjonskapsler som sikrer at tjenesten presenterer data til rett mottaker.

    Hvordan håndtere informasjonskapsler i din nettleser

    På www.nettvett.no kan du lese om hvordan du stiller inn nettleseren for å godta/avvise informasjonskapsler, og få tips til sikrere bruk av internett.




    Her skal det være en del om personvern og linker til annen info

    Les om hvordan Telemarks fylkeskommune samler inn og bruker informasjon om besøkende på våre nettsteder.

    En del av arbeidet med å lage et brukervennlig nettsted, er å studere brukermønsteret til de som besøker nettstedet.

    Bruk av Google Analytics
    For å analysere informasjonen, bruker vi analyseverktøyet Google Analytics. Verktøyet benytter informasjonskapsler/cookies, som registrerer brukernes IP-adresse, og som gir informasjon om den enkelte brukers bevegelser på nett.

    Eksempler på hva statistikken gir oss svar på er; hvor mange som besøker ulike sider, hvor lenge besøket varer, hvilke nettsteder brukerne kommer fra og hvilke nettlesere som benyttes. Ingen av informasjonskapslene gjør at vi kan knytte informasjon om din bruk av nettstedet til deg som enkeltperson.

    Informasjonen fra Google Analytics lagres på Googles servere i USA. Mottatte opplysninger er underlagt Googles retningslinjer for personvern.

    En IP-adresse er definert som en personopplysning fordi den kan spores tilbake til en bestemt maskinvare og dermed til en enkeltperson. Derfor bruker vi et script (kode) som fjerner de siste sifrene fra IP-adressen før informasjonen lagres av Google. Dermed kan ikke den lagrede IP-adressen brukes til å identifisere den enkelte brukeren.




    <h2>Rettigheter omkring personopplysninger</h2>
    Dette er informasjon som skal gi innbyggere, og andre brukere av våre tjenester, informasjon om plikter og rettigheter om fylkeskommunes bruk av personopplysninger, og informasjon om hvordan slike opplysninger håndteres.

    Samtidig ønsker vi at erklæringen bidrar til trygghet og tillit om at personopplysninger blir behandlet korrekt og sikkert i Telemark fylkeskommune.

    <a href="https://www.telemark.no/Informasjon-om-registrertes-rettigheter-til-innsyn-retting-og-sletting-av-personopplysninger" target="_blank">Les mer her</a>

</div>