<div class="row">
    <h1>Personvernerklæringen</h1>

    Personvernerklæringen handler om hvordan Telemark fylkeskommune samler inn og bruker informasjon om besøkende på våre nettsteder.<br/>
    Erklæringen inneholder informasjon du har krav på når det samles inn opplysninger fra nettstedet vårt (personopplysningsloven § 19) og generell informasjon om hvordan vi behandler personopplysninger (personopplysningsloven § 18, 1.ledd).

    Telemark fylkeskommune, ved fylkesrådmannen, er behandlingsansvarlig for virksomhetens behandling av personopplysninger.

    Behandlingsgrunnlaget er samtykke fra den enkelte, med mindre annet er spesifisert.

    <h2>Webanalyse og informasjonskapsler (cookies)</h2>

    Som en viktig del av arbeidet med å lage et brukervennlig nettsted, ser vi på brukermønsteret til de som besøker nettstedet. For å analysere informasjonen, bruker vi analyseverktøyet <a href="https://piwik.org/" target="_blank">Piwik</a>.

    Piwik bruker informasjonskapsler/cookies, som registrerer brukernes IP-adresse, og som gir informasjon om den enkelte brukers bevegelser på nett. Eksempler på hva statistikken gir oss svar på er; hvor mange som besøker ulike sider, hvor lenge besøket varer, hvilke nettsteder brukerne kommer fra og hvilke nettlesere som benyttes. Ingen av informasjonskapslene gjør at vi kan knytte informasjon om din bruk av nettstedet til deg som enkeltperson.

    Informasjonen som samles inn av Piwik, lagres hos Telemark fylkeskommune.

    <h2>Side- og tjenestefunksjonalitet</h2>

    Det blir brukt informasjonskapsler i drift og presentasjon av data fra nettsteder. Slike informasjonskapsler kan inneholde informasjon om språkkode for språk valgt av brukeren. Det kan være informasjonskapsler med informasjon som støtter om lastbalanseringen av systemet slik at alle brukere blir sikret en best mulig opplevelse. Ved tjenester som krever innlogging eller søk kan det bli brukt informasjonskapsler som sikrer at tjenesten presenterer data til rett mottaker.

    <h2>Hvordan håndtere informasjonskapsler i din nettleser</h2>

    På <a href="https://nettvett.no/" target="_blank">www.nettvett.no</a> kan du lese om hvordan du <a
        href="https://nettvett.no/slik-administrer-du-informasjonskapsler/" target="_blank">stiller inn nettleseren for å godta/avvise informasjonskapsler</a>, og få tips til
    <a href="https://nettvett.no/veiledninger/sikrere-bruk/internett/" target="_blank">sikrere bruk av internett</a>.

    <h2>Rettigheter omkring personopplysninger</h2>
    Dette er informasjon som skal gi innbyggere, og andre brukere av våre tjenester, informasjon om plikter og rettigheter om fylkeskommunes bruk av personopplysninger, og informasjon om hvordan slike opplysninger håndteres.

    Samtidig ønsker vi at erklæringen bidrar til trygghet og tillit om at personopplysninger blir behandlet korrekt og sikkert i Telemark fylkeskommune.

    <a href="https://www.telemark.no/Informasjon-om-registrertes-rettigheter-til-innsyn-retting-og-sletting-av-personopplysninger" target="_blank">Les mer her</a>
    {{>continue-application}}
</div>