<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col"></div>
    <div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-shadow--2dp">
        <div class="mdl-card__title mdl-color-text--black">
            <h1 class="margin-bottom-10">Se over</h1>
        </div>
        <form action="/submit" method="post">
            <input type="hidden" name="stepName" value="seover">
            <div class="mdl-card__supporting-text mdl-color-text--black">
                Alt ser bra ut
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="/cleanup" title="Avbryt søknaden" class="mdl-button mdl-js-button mdl-color-text--black fontBiggerButton">Avbryt søknaden</a>
                <div class="mdl-layout-spacer"></div>
                <button type="submit" title="Send inn søknad" class="mdl-button mdl-js-button mdl-color-text--black fontBiggerButton">Send søknad</button>
            </div>
        </form>
    </div>
    <div class="mdl-cell mdl-cell--3-col"></div>
</div>