<div class="row">
    <h1>Målgruppe</h1>
    <form action="/next" method="post">
        <input type="hidden" name="stepName" value="target">
        <fieldset class="fieldset">
            <legend>Hvem er målgruppen for tiltaket?</legend>
            <input type="checkbox" name="target" value="Alle (innbyggere i Telemark)" id="targetCheck01"><label
                for="targetCheck01">Alle (innbyggere i Telemark)</label><br/>
            <input type="checkbox" name="target" value="Funksjonshemmede barn og unge opp til 18 år" id="targetCheck02"><label
                for="targetCheck02">Funksjonshemmede barn og unge opp til 18 år</label><br/>
            <input type="checkbox" name="target" value="Funksjonshemmede eldre" id="targetCheck03"><label
                for="targetCheck03">Funksjonshemmede eldre</label><br/>
            <input type="checkbox" name="target" value="Funksjonshemmede over 18 år" id="targetCheck04"><label
                for="targetCheck04">Funksjonshemmede over 18 år</label><br/>
            <input type="checkbox" name="target" value="Voksne over 18 år" id="targetCheck05"><label for="targetCheck05">Voksne over 18 år</label><br/>
            <input type="checkbox" name="target" value="Eldre (70+)" id="targetCheck06"><label for="targetCheck06">Eldre (70+)</label>
        </fieldset>
        <div class="expanded button-group">
            <a href="/previous" title="Gå til forrige punkt i søknaden" class="secondary button">Forrige</a>
            <a href="/cleanup" title="Avbryt søknaden" class="alert button">Avbryt søknaden</a>
            <button type="submit" title="Gå til neste punkt i søknaden" class="primary button">Neste</button>
        </div>
    </form>
</div>