<div class="row">
    <h1>Målgruppe</h1>
    <form action="/next" method="post">
        <input type="hidden" name="stepName" value="target">
        <fieldset class="fieldset">
            <legend>Hvem er målgruppen for tiltaket?</legend>
            <input type="checkbox" name="target" value="Alle aldre" id="targetCheck01"><label
                for="targetCheck01">Alle aldre</label><br/>
            <input type="checkbox" name="target" value="Barn 0 - 12 år" id="targetCheck02"><label
                for="targetCheck02">Barn 0 - 12 år</label><br/>
            <input type="checkbox" name="target" value="Ungdom 12 - 25 år" id="targetCheck03"><label
                for="targetCheck03">Ungdom 12 - 25 år</label><br/>
            <input type="checkbox" name="target" value="Voksne" id="targetCheck04"><label
                for="targetCheck04">Voksne</label><br/>
            <input type="checkbox" name="target" value="Pensjonister" id="targetCheck05"><label for="targetCheck05">Pensjonister</label><br/>
            <input type="checkbox" name="target" value="Funksjonshemmede" id="targetCheck06"><label for="targetCheck06">Funksjonshemmede</label>
        </fieldset>
        <div class="expanded button-group">
            <a href="/previous" title="Gå til forrige punkt i søknaden" class="secondary button">Forrige</a>
            <a href="/cleanup" title="Avbryt søknaden" class="alert button">Avbryt søknaden</a>
            <button type="submit" title="Gå til neste punkt i søknaden" class="primary button">Neste</button>
        </div>
    </form>
</div>