<div class="row">
    <h1 class="margin-bottom-10">Testoppsett</h1>
    <form action="/test" method="post">
        <input type="hidden" name="stepName" value="testoppsett">
        <fieldset class="fieldset">
            <legend>Organisasjonen</legend>
            <label>Organisasjonsnummer
                <input type="number" id="organisasjonsnummer" name="organisasjonsNummer" required>
            </label>
            <label>Navn
                <input type="text" id="organisasjonsnavn" name="organisasjonsNavn" required>
            </label>
            <label>Forretningsadresse
                <input type="text" id="forretningsadr" name="forretningsadr" required>
            </label>
            <label>Forretningspostnummer
                <input type="text" id="forradrpostnr" name="forradrpostnr" required>
            </label>
            <label>Forretningspoststed
                <input type="text" id="forradrpoststed" name="forradrpoststed" required>
            </label>
            <label>Telefonnummer
                <input type="tel" id="telefonnummer" name="telefonNummer" required>
            </label>
        </fieldset>
        <fieldset class="fieldset">
            <legend>Informasjon om deg som søker</legend>
            <label>Navn
                <input type="text" id="personnavn" name="personnavn" required>
            </label>
            <label>Telefonnummer
                <input type="text" id="persontelefonnummer" name="persontelefonNummer" required>
            </label>
            <label>E-post
                <input type="text" id="personepost" name="personepost" required>
            </label>
        </fieldset>
        {{>bottom-buttons}}
    </form>
</div>