<div class="row">
    <h1>Om tilskuddsordningene</h1>
    <div>
        Det er ikke alltid enkelt å vite hvilken tilskuddsordning som er riktig å søke på. Er for eksempel et dansearrangement et kulturtiltak eller et sosialt folkehelsetiltak? Vi i fylkeskommunen som mottar søknader fra dere samarbeider for at hver søknad får en riktigst mulig vurdering og behandling.
        Vi ønsker at dere som søker også tenker igjennom hva som er hovedformålet med tiltaket eller aktiviteten; er det å komme sammen med andre, er det for å lære eller formidle, er det for å være i fysisk aktivitet?
        Under finner dere informasjon om tilskuddsordningene, som en hjelp til å gjøre riktig valg når dere starter søkeprosessen.
    </div>
    <div>
        <ul>
            <li><a href="#felles">Informasjon som gjelder begge ordningene</a></li>
            <li><a href="#folkehelse">Tilskudd til frivillige organisasjoner til folkehelsearbeid</a></li>
            <li><a href="#kultur">Tilskudd til arrangementer og tiltak innen kultur og idrett</a></li>
        </ul>
    </div>
    <h2 id="felles">Informasjon som gjelder begge ordningene</h2>
    <div>
        <p><strong>Søknadsfrister og saksbehandling:</strong></p>
        <p>Første søknadsfrist er 15. januar 2017. Andre søknadsfrist er 30.juni.</p>
        <p>Hovedutvalg for kultur, idrett og folkehelse vedtar den endelige fordelingen av tilskuddsmidlene. De første søknadene behandles 15.mars 2017. Andre tildelingsrunde er 21.september 2017. Svar på søknad blir sendt ut innen tre uker etter politisk vedtak.</p>
    </div>
    <h3>Utbetaling av tilskudd</h3>
    <div>
        <p>Dersom man får tildelt midler, er det viktig å være oppmerksom på dette:</p>
        <ul>
            <li>Tildelte midler skal i utgangspunktet brukes i det året de bevilges. Det kan imidlertid søkes om overføring til påfølgende år.</li>
            <li>I markedsføring og informasjon om arrangementet eller tiltaket skal det komme klart fram at Telemark fylkeskommune er samarbeidspartner. Fylkeskommunens logo skal brukes. Du finner logo og retningslinjer for bruk på våre nettsider
                <a href="https://www.telemark.no/profil" target="_blank" title="Les om vår grafiske profil på www.telemark.no">www.telemark.no/profil</a>.</li>
            <li>Midler utbetales etter at arrangementet eller tiltaket er gjennomført, og etter at fylkeskommunen har mottatt en kortfattet rapport inkludert regnskap. Hvis utbetaling i etterkant av arrangementet er kritisk for gjennomføringen kan det søkes om utbetaling i forkant.</li>
        </ul>
    </div>
    <h2 id="folkehelse">Tilskudd til frivillige organisasjoner til folkehelsearbeid</h2>
    <div>
        <p>Dette er en ny tilskuddsordning for 2017. Det overordnede målet for folkehelsearbeidet i Telemark er å utjevne sosial ulikhet i helse. Dette innebærer at tiltaket man søker om støtte til, må ha en klar sosial profil. Viktige satsingsområder i folkehelsearbeidet er psykisk helse, økt fysisk aktivitet, sunt kosthold, tilrettelegging for en aktiv alderdom og en inkluderende samfunnsutvikling. Tilskuddsordningen skal stimulere til helsefremmende tiltak som skaper livskvalitet, mestring og trivsel for alle grupper i befolkningen. 25 prosent av midlene er spesielt øremerket til folkehelsetiltak for personer med nedsatt funksjonsevne.</p>
        <p><strong>Hvem kan søke:</strong></p>
        <p>Målgruppen for ordningen er fylkesdekkende frivillige organisasjoner som er registrert i Enhetsregisteret.</p>
        <p><strong>Disse tiltakene blir prioritert:</strong></p>
        <ul>
            <li>Aktiviteter som er lite ressurskrevende og lett tilgjengelige for ulike brukergrupper</li>
            <li>Tiltak rettet mot barn, unge og barnefamilier</li>
            <li>Tiltak rettet mot personer med nedsatt funksjonsevne</li>
            <li>Tiltak for å skape sosial møteplasser</li>
            <li>Tiltak som bidrar til inkludering</li>
            <li>Tiltak som fremmer psykisk helse</li>
            <li>Tiltak rettet mot personer som er lite fysisk aktive</li>
            <li>Tiltak som fremmer et sunt kosthold</li>
            <li>Tiltak som fremmer seksuell helse</li>
        </ul>
        <p><strong>Tilskuddsordningen omfatter ikke:</strong></p>
        <ul>
            <li>Forebyggende tiltak som retter seg mot risikoutsatte personer</li>
            <li>Rehabiliteringstiltak</li>
        </ul>
    </div>
    <h2 id="kultur">Tilskudd til arrangementer og tiltak innen kultur og idrett</h2>
    <div>
        <p>Telemark fylkeskommune forvalter midler innen kultur og idrett. Formålet med ordningen er å gi arrangementer og tiltak som bidrar til kultur- og idrettsaktiviteter og som er av regional interesse, en god start. Oppnåelse av mål i
            <a href="https://www.telemark.no/Vaare-tjenester/Kultur/Aktuelt/Strategi-for-kultur-og-kulturarv" target="_blank">Strategi for kultur og kulturarv</a> og <a href="https://www.telemark.no/Vaare-tjenester/Idrett/Strategi-for-idrett-friluftsliv-og-fysisk-aktivitet" target="_blank">strategi for idrett, friluftsliv og fysisk aktivitet 2016-2020</a> vil være førende for søknadsbehandlingen.</p>
        <p><strong>Hvem kan søke:</strong></p>
        <p>Midlene er i første rekke rettet mot det frivillige feltet. Kommuner eller kommunale virksomheter kan ikke stå som søker. Unntaket er hvis kommunen eller kulturkontoret er koordinator for frivillige organisasjoner. Som hovedregel må vertskommunen støtte enten med midler, lokaler eller utstyr. Det må komme frem av søknaden hva kommunen bidrar med.</p>
        <p>Nedre søknadsgrense er 10 000 kroner og øvre er 100 000 kroner.</p>
        <p><strong>Disse tiltakene blir prioritert:</strong></p>
        <ul>
            <li>Nye arrangementer og tiltak av regional interesse</li>
            <li>Arrangementer og tiltak rettet mot barn og unge</li>
            <li>Arrangementer og tiltak der barn og unge selv kan delta og blir involvert</li>
            <li>Talentutvikling</li>
            <li>Høy grad av frivillighet</li>
            <li>Tiltak som innebærer historisk dokumentasjon</li>
            <li>Institusjoner, organisasjoner og enkeltpersoner som ikke mottar faste tilskudd fra fylkeskommunen.</li>
        </ul>
        <p><strong>Tilskuddsordningen omfatter ikke:</strong></p>
        <ul>
            <li>Turnévirksomhet i skoleverket -for alle kulturuttrykk ivaretas dette av Den kulturelle skolesekken.</li>
            <li>Stillinger, investeringer eller drift</li>
            <li>Aktivitet i regi av politiske partier og deres ungdomsorganisasjoner</li>
        </ul>
    </div>
    <div class="clearfix {{hide-me inProgress}}">
        <a href="/organisasjonsnummer?startbutton=tilskuddsordningene" title="Start søknad" class="button primary expanded"><h2>Start søknad</h2></a>
    </div>
    {{>continue-application}}
</div>