<div class="row">
    <h1>Om tilskuddsordningene</h1>
    <div>
        <ul>
            <li><a href="#folkehelse">Tilskudd til frivillige organisasjoner til folkehelsearbeid</a></li>
            <li><a href="#kultur">Tilskudd til arrangementer og tiltak innen kultur og idrett</a></li>
        </ul>
    </div>
    <h2 id="folkehelse">Tilskudd til frivillige organisasjoner til folkehelsearbeid</h2>
    <div>
        <p>Dette er en ny tilskuddsordning for 2017.</p>
        <h3>Søknadsfrist og saksbehandling</h3>
        <p>Søknadsfrist er 15. januar 2017. Vedtak om tildeling vil skje på møte 15. mars i hovedutvalg for kultur, idrett, natur og folkehelse. Svar vil bli sendt ut i løpet av mars.</p>
        <h3>Formål og målgruppe</h3>
        <p>Tilskuddsordningen skal stimulere til helsefremmende tiltak som skaper livskvalitet, mestring og trivsel for alle grupper i befolkningen. Målgruppen for ordningen er fylkesdekkende frivillige organisasjoner som er registrert i Enhetsregisteret.</p>
        <p>25% av midlene er spesielt øremerket til folkehelsetiltak for personer med nedsatt funksjonsevne.</p>
        <h3>Hvilke tiltak kan få tilskudd?</h3>
        <p>Den overordnede målsettingen for folkehelsearbeidet i Telemark er å utjevne sosial ulikhet i helse. Dette innebærer at tiltaket må ha en klar sosial profil. Viktige satsingsområder i folkehelsearbeidet er psykisk helse, økt fysisk aktivitet, sunt kosthold og tilrettelegging for en aktiv alderdom og en inkluderende samfunnsutvikling.</p>
        <p><strong>Følgende tiltak vil bli prioritert:</strong></p>
        <ul>
            <li>Aktiviteter som er lite ressurskrevende og lett tilgjengelige for ulike brukergrupper</li>
            <li>Tiltak rettet mot barn, unge og barnefamilier</li>
            <li>Tiltak rettet mot personer med nedsett funksjonsevne</li>
            <li>Tiltak for å skape sosial møteplasser</li>
            <li>Tiltak som bidrar til inkludering</li>
            <li>Tiltak som fremmer psykisk helse</li>
            <li>Tiltak rettet mot personer som er lite fysisk aktive</li>
            <li>Tiltak som fremmer et sunt kosthold</li>
            <li>Tiltak som fremmer seksuell helse</li>
        </ul>
        <p>Tilskuddsordningen omfatter <strong>ikke</strong>:</p>
        <ul>
            <li>Forebyggende tiltak som retter seg mot risikoutsatte personer</li>
            <li>Rehabiliteringstiltak</li>
        </ul>
        <p>Gjelder din søknad et kulturtiltak/ -arrangement? Se om tilskuddsordningen <a href="#kultur">"Tilskudd til arrangementer og tiltak innen kultur og idrett"</a> er mer aktuell for dere!</p>
    </div>
    <h2 id="kultur">Tilskudd til arrangementer og tiltak innen kultur og idrett</h2>
    <div>
        <p>Telemark fylkeskommune forvalter midler innen kultur og idrett. Hensikten med midlene er å gi arrangementer og tiltak som bidrar til aktivitet og som er av regional interesse en god start. Oppnåelse av mål i Strategi for kultur og kulturarv vil være førende for søknadsbehandlingen.</p>
        <h3>Hvem kan søke?</h3>
        <p>Midlene er i første rekke rettet mot det frivillige feltet, og kommuner eller kommunale virksomheter kan ikke stå som søker. Unntaket er hvis kommunen eller kulturkontoret er koordinator for frivillige organisasjoner.</p>
        <p><strong>Prioriterte områder og grupper:</strong></p>
        <ul>
            <li>Nye arrangementer og tiltak av regional interesse</li>
            <li>Arrangementer og tiltak rettet mot barn og unge</li>
            <li>Arrangementer og tiltak der barn og unge selv kan delta og blir involvert</li>
            <li>Talentutvikling</li>
            <li>Høy grad av frivillighet</li>
            <li>Tiltak som innebærer historisk dokumentasjon</li>
            <li>Institusjoner, organisasjoner og enkeltpersoner som ikke mottar faste tilskudd fra fylkeskommunen</li>
        </ul>
        <h3>Retningslinjer</h3>
        <ol>
            <li>Arrangementer eller tiltak som har mottatt støtte i to år eller mer er ikke søknadsberettiget.</li>
            <li>Søknaden skal inneholde beskrivelse av tiltaket, budsjett og finansieringsplan. Midlene må brukes i det året søknaden gjelder. Det er to årlige søknadsfrister: 15. januar og 30. juni.</li>
            <li>Som hovedregel må vertskommunen støtte enten med midler, lokaler eller utstyr. Det må fremkomme av søknaden hva kommunen bidrar med.</li>
            <li>Nedre søknadsgrense er 10 000 kroner og øvre er 100 000 kroner.</li>
            <li>Arrangementet eller tiltaket det søkes om støtte til må være av regional interesse, og søker må i søknadsskjemaet selv redegjøre for på hvilken måte.</li>
            <li>Hovedutvalg for kultur vedtar den endelige fordelingen av tilskuddsmidlene. Hovedutvalget kan i sin saksbehandling gjøre unntak fra retningslinjene i enkeltsaker, uten at et slikt unntak vil danne presedens for andre søknader.</li>
            <li>Tildelte tilsagn utbetales etter at arrangementet/tiltaket er gjennomført, og etter at fylkeskommunen har mottatt en kortfattet rapport inkludert ferdig regnskap. Hvis utbetaling i etterkant av arrangementet er kritisk for gjennomføringen kan det søkes om utbetaling i forkant.</li>
            <li>I markedsføring og informasjon om arrangementer og tiltak som får tilskudd skal det klart framgå at Telemark fylkeskommune er en samarbeidspartner og merkevareplattformen til Telemark skal brukes i informasjonsmateriell (T’en).</li>
            <li>Det kan <strong>ikke</strong> søkes om tilskudd til
            <ol>
                <li>Turnévirksomhet i skoleverket. For alle kulturuttrykk ivaretas dette av Den kulturelle skolesekken.</li>
                <li>Stillinger, investeringer eller drift.</li>
                <li>Aktivitet i regi av politiske partier og deres ungdomsorganisasjoner.</li>
            </ol>
            </li>
        </ol>
    </div>
</div>